body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .navbar {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17.5px;
}

.navbar a:hover {
    background-color: #818181;
    color: black;
}
  
  .header-image {
    border-radius: 25px 25px 25px 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    height: auto;
  }

    
  .header-image {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .header-image {
    transition: all 0.3s ease;
  }
  
  .header-image:hover {
    transform: translateY(-5px);
  }
  
  .title{
    background-color: white;
    color: black;
    text-align: center;
    padding: 25px;
    font-size: 80px;
  }

  .title1{
    font-size: 40px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
  }

  .container {
    transition: all 0.3s ease;
  }
  
  .container:hover {
    transform: translateY(-15px);
  }
  

  .p1{
    text-align: center;
    color: darkgray;
    margin-bottom: 50px;
  }
  .btn1 {
    align-items: center;
    text-align: center;
  }

  .acerca-de{
    text-align: center;
    color: #121212;
    margin-bottom: 50px;
  }

  .acerca{
    padding: 70px;
  }
  .retro{
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
    padding: 0.75rem 1rem;
    border-radius: 0.45rem;
    color: white;
    border: solid 0.124rem #fff;
    box-shadow: 0.25rem 0.25rem #fff;
    align-items: center;

    transition:
     transform 50ms, box-shadow 50ms;
  }

  .retro:active {
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0.125rem 0.125rem #121212;
  }

  .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .item {
    text-align: center;
    margin: 0 20px;
  }

  .item img {
    max-width: 100%;
  }

  .item {
    transition: all 0.3s ease;
  }
  
  .item:hover {
    transform: translateY(-15px);
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 20px;
    width: 300px;
    border: 1px solid #121212;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%; 
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.card-description{
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.cards {
  transition: all 0.3s ease;
}

.cards:hover {
  transform: translateY(-15px);
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #818181;
}

.associate{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}



.pass {
  text-align: start;
  color: darkgrey;
}

.app1
{
  text-align: start;
  color: black
}

.cuestions{
  align-items: center;
}


details {
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

summary::-webkit-details-marker {
  display: none;
}
  
  .app{
    text-align: center;
    color: black;  
  }

  .descargas{
    padding: 20px; 
  }

  footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  }

  .foh4{
    color: white;
    
    padding: 5px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
  }
  .foh5{
    color: white;
    
    padding: 5px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
  }
  
  .footer-section {
    transition: all 0.3s ease;
  }
  
  .footer-section:hover {
    transform: translateY(-5px);
  }
   
footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;
}

footer .redes-sociales a{
    color: #fff;
    text-align: center;
    width: 40px;
    display: block;
    padding: 50px 0;
    border-radius: 3px;
    font-size: 30px;
   margin: 0 20px;
}

  footer .redes-sociales .facebook:hover{
    background: #3b5998;
 }
 footer .redes-sociales .instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
 }
 
 footer .redes-sociales .google:hover{
    background: #d62424;
 }

 