body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../img/0216880a55ee8f954228a1f8e3c21f8f.jpg);
  }

  .header-image {
    background: url('../img/robert-laursoo-WHPOFFzY9gU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 400px; 
    position: relative;
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .header-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
  .header-content p {
    font-size: 18px;
  }
  
  .header-content h1:hover {
    transform: scale(1.1); 
  }

  .navbar{
    background: url(../img/2d4cd068191bddd1d341c03e91e89f18.jpg);
    color: #fff;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .menu.toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .bar{
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
  }
  
  .navbar-menu li {
    margin: 0 15px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar-menu a:hover {
    color: #f39c12;
  }
  
  @media (max-width: 768px) {

    .menu.toggle{
        display: flex;
    }
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .navbar-menu.active{
        display: flex;
    }
  
    .navbar-menu li {
      margin: 10px 0;
    }
  }
  
  section {
    padding: 20px;
  }
  
  
  footer {
    background: url(../img/2d4cd068191bddd1d341c03e91e89f18.jpg);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  }
  
  .footer-section {
    transition: all 0.3s ease;
  }
  
  .footer-section:hover {
    transform: translateY(-5px);
  }